/*=============================================
=            base            =
=============================================*/

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

:root{
    --white-light: rgba(255, 255, 255, 0.5);
    --alice-blue: #f8f9fa;
    --carribean-green: #40c9a2;
    --gray: #ededed;
}

body {
    margin: 0;

    // didi_modify
    // background-color: rgb(238, 235, 235);
    background-color: rgb(255, 255, 255);
    // background-image: url("/assets/images/background-img.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-size: 100% auto;
    // background-color: $white;
}

p:last-child {
    margin-bottom: 0;
}


*:focus {
    outline: none;
}

a:focus {
    outline: none;
}

input[type="submit"] {
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;

    list-style: outside none none;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent !important;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    color: transparent !important;
} /* FF 4-18 */

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: transparent !important;
} /* FF 19+ */

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
    color: transparent !important;
} /* IE 10+ */

/*=====  End of base  ======*/


// .shop-clothes
// .shop-foods
// .shop-house
// .shop-jewls
// .shop-partners
// .shop-supplies
// .about-content
// .shop-all {
//     background-color: #191919;
// }


.product-detail-container{
    display: flex;
    gap: 40px;
    margin: 40px;
    margin-top: 60px;
    color: #324d67;
    
  }
  
  .product-detail-image{
    border-radius: 15px;
     background-color: #ebebeb;
  
    width: 400px;
    height: 400px;
    cursor: pointer;
    transition: .3s ease-in-out;
  }
  .product-detail-image:hover{
    background-color: #f02d34;
  
  }
  
  .product-detail-container .product-detail-image{
    width: 350px;
    height: 350px;
  }
  
  .product-detail-container{
    margin: 20px;
  }
  
  .product-detail-container{
    flex-wrap: wrap;
    }
  .product-detail-container .product-detail-image{
    width: 350px;
    height: 350px;
  }
  
  .product-detail-desc h4{
    margin-top: 10px;
  }
  .product-detail-desc p{
    margin-top: 10px;
  }
  
  .price{
    font-weight: 700 ;
    font-size: 26px;
    margin-top: 30px;
    color:#f02d34;
  }

  // didi product carousels
  .productImg {
    width: 90%;
    height: 50vh;
  }

  .slick-arrow.slick-prev,
  .slick-arrow.slick-next {
    background-color: #324d67;
    }
// .custom-indicator {
//     border: 2px solid green;
//     padding-top: 100px;
// }

.custom-indicator li {
    border: #f02d34;
    width: 50px;
    height: 50px;
    margin-left: 1000px;
}

.didi-product-wrapper {
    margin: 10px 10px;
}


.didi-product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: antiquewhite;
}

.didi-thumb-img {
    object-fit: cover;
    width: 500px;
    height: 500px;
    border-radius: 5px;
    cursor: pointer;
}

.didi-thumb-swiper {
    margin-top: 15px;
    width: 100%;
    height: 15vh;
}

.didi-product-name {
    width: 100%;
    display: flex;
    padding: 20px 0px 20px 0;
    justify-content: space-between;
    align-items: center;
}

.didi-product-price {
    font-size: 20px;
    margin-right: 30px;
}

.didi-product-fullDescription {
    font-weight: 500;
    color: #00081C;
    padding: 20px 10px 10px 0px;
    line-height: 3;
}

.didi-product-button {
    margin-top: 50px;
}

.didi-product-button {
    width: 100%;
    border: 0;
    box-sizing: border-box;
    margin: 1em;
    padding: 1em 2em;
    background-color: #00081C;
    color: #CDBC7A;
}
.didi-line {
    width: 100%;
    height: 0.8px;
    background-color: #b5b5b5
}

.didi-card-container {
    overflow: hidden;
    box-shadow: 0px, 0px, 15px, -5px;
    transition: 0.3s;
    animation: ease-in-out;
    margin: 30px 40px;
}

.didi-card-container:hover {
    // transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
}

.didi-image-container img{
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.didi-footer {
    padding: 50px 50px;
    background-color: #ebeae6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.didi-card-content {
    padding: 10px;
}

.didi-card-price h6{
    padding: 5px 0px;
}

.didi-related-product-container {
    h5 {
        color: #535252;
    }
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    justify-content: center;
    align-items: center;
}

// DIDI navbar
.nav-btn {
    padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

.didi-mobile-logo {
    display: none;
}

.didi-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    padding: 0 0;
    gap: 50px;
    h1 {
        margin-left: 20px;
    }
}

.didi-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: #4a4949
}

.nav-side-btn {
    cursor: pointer;
    font-size: 20px;
    color: black;
}

.didi-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.didi-logo {
    width: 60px;
    height: 90px;
    object-fit: cover;
}

.didi-related-product {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.didi-product-banner {
    margin-top: 150px;
    width: 100%;
    height: 50vh;
    // background-color: #324d67;
    background-image: url("https://images.unsplash.com/photo-1466781783364-36c955e42a7f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80");
    background-size: cover;
}

.didi-card-container-v1 {
    min-width: 400px;
    min-height: 200px;
    overflow: hidden;
    box-shadow: 0px, 0px, 15px, -5px;
    transition: 0.3s;
    animation: ease-in-out;
    background-color: rgba(0,0,0,0.1);
}

.didi-image-container-v1 {
    width: 300px;
    min-height: 200px;
    background-color: rgba(0,0,0,0);
}

.didi-image-container-v1 img{
    width: 100%;
    // height: 100%;
    object-fit: cover;
}

.didi-card-container-v1:hover {
    // transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
}

.didi-card-content-v1 {
    h6 {
        padding: 10px;
    }
    display: flex;
    flex-direction: column;
    justify-items: center;
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.didi-main-header {
    display: flex;
}

.didi-music-player {
    position: fixed;
    top: 2rem;
    right: 10rem;
    z-index: 200;
    width: 300px;
}

.didi-product-video {
    width: 100vw;
    height: 60vh;
    // background-color: #324d67;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
}

.didi-product-video h3 {
    margin-bottom: 50px 0;
}

.didi-modal-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    z-index: 100;
}

.didi-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.didi-modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-sidebar-container {
    width: 90%;
    height: 90%;
    background-color: #ebebeb;
}

.didi-swiper-card img {
    width: 100%;
    height: 100%;
    // max-height: 80vh;
}

.test {
    width: 500px;
    height: 500px;
}

.test img {
    width: 100%;
    height: 100%;
}

.didi-product-swiper {
    max-width: 80vw;
    height: 100%;
}

.breadcrumb-area {
    height: 20vh;
    margin-bottom: 60px;
    background-size: cover;
}
/* product page from */

// .didi-product-img {
//     width: 100%;
//     height: 100%;
//     display: block;
// }

.didishow {
    display: none;
}

.didi-test-container{
    width: 88vw;
    margin: 0 auto;
}
.lg-title,
.md-title,
.sm-title{
    font-family: 'Roboto', sans-serif;
    padding: 0.6rem 0;
    text-transform: capitalize;
}
.lg-title{
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    padding: 1.3rem 0;
    opacity: 0.9;
}
.md-title{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}
.sm-title{
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
}
.text-light{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    opacity: 0.5;
    margin: 0.4rem 0;
}

/* product section */
.products{
    background: var(--alice-blue);
    padding: 3.2rem 0;
}
.products .text-light{
    text-align: center;
    width: 70%;
    margin: 0.9rem auto;
}


.didi-new-product {
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: flex-start; /* 商品圖片頂部對齊 */
    text-align: center;
    .product-price {
        color: #00081C;
    }
    background-color: white;
    cursor: pointer;
    // max-width: 300px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1; /* 商品標題伸展以填充剩餘空間 */
    // background-color: #40c9a2;
    // align-items: ;
    // gap: 20px;
}

.product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-btns{
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
    opacity: 0;
    transition: opacity 0.6s ease;
}
.btn-cart, .btn-buy{
    background: transparent;
    border: 1px solid black;
    padding: 0.8rem 0;
    width: 125px;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease;
}
.btn-cart{
    background: black;
    color: white;
}

.btn-buy{
    background: white;
}


.product-name{
    color: black;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
}
.product-price{
    // padding-top: 0.6rem;
    // padding-right: 0.6rem;
    margin-top: 5px;
    display: inline-block;
}

.product:hover .product-btns{
    opacity: 1;
}
.off-info .sm-title{
    color: white;
    display: inline-block;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    z-index: 1;
    letter-spacing: 3px;
    cursor: pointer;
}

// .didi-test-products {
//     background-color: #b5b5b5;
// }

// .didi-test-container {
//     background-color: #535252;
// }

.product:hover {
    // transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
    transition: all;
    transition: 0.6s;
    animation: ease-in-out;
}

.didi-text {
    color: #00081C;
    font-weight: 500;
    line-height: 25px;
}

.didi-detail-text {
    color: #00081C;
    font-weight: 400;
    line-height: 25px;
}

.didi-partner-img {
    display: block;
    width: 100%;
    height: 50vh;
    // background-color: #324d67;
    background-image: url("https://images.unsplash.com/photo-1512704450162-780bb2dba7a9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
    background-size: cover;
}

.didi-partner-title {
    margin-top: 10vh;
    text-align: center;
    color: #00081C;
    font-size: 50px;
    font-weight: 350;

}

.didi-partner-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 100%;
    padding: 50px 0;
    // height: 300px;
}

.didi-partner-gallery img{
    width: 350px;
    height: auto;
}

.didi-partner-subtitle {
    margin: 5vh 0;
    text-align: center;
    color: #00081C;
    font-size: 40px;
    font-weight: 300;
}

.didi-partner-info {
    padding: 5vh 0;
    width: 70vw;
    margin: 0 auto;
    line-height: 2;
    font-size: 20px;
    color: #00081C;
}


.didi-partner-p {
    margin-bottom: 5vh;
    width: 70vw;
    margin: 0 auto;
    line-height: 2;
    font-size: 15px;
    color: #666666;
}

.didi-main-about {
    color:#191919;
    font-size: 18px;
    padding: 5px 2px;
    line-height: 1.5;
}

.product-image {
    width: 100%; /* 商品圖片寬度佔滿商品卡片寬度 */
    max-height: 75%; /* 商品圖片最大高度為商品卡片高度的70% */
    object-fit: cover; /* 填充圖片容器，保持圖片比例 */
    // margin-bottom: 8px; /* 商品圖片和商品標題之間的間距 */
}
  
// 問題是出在product img的size影響整條row heighj
.product-img:hover img{
    transition: all .5s;
    transform: scale(1.05);
}

.didi-swiper {
    width: 100%;
    height: 100%;
}

.didi-swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.didi-main-swiper {
    // width: 400px !important;
    // height: 500px !important;
    // min-width: 300px;
    width: 550px;
    height: 650px;
    // background-color: #324d67;
    position: relative;
}

.did-product-page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    // background-color: #40c9a2;
}

// @media screen and (max-width: 1300px){
//     .didi-product-container {
//         width: 450px;
//     }
// }

@media screen and (max-width: 1200px){
    .did-product-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .didi-product-container {
        margin-top: 50px;
    }
    .product-items {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 200px);
        // grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
        gap: 30px;
    }
}

@media screen and (max-width: 1040px){
    .didi-header{
        display: none;
    }
    .didi-main-swiper {
        // width: 400px !important;
        // height: 500px !important;
        // min-width: 300px;
        width: 100%;
        height: 580px;
        // background-color: #324d67;
        position: relative;
    }
    // chia-cheng
    .didi-product-swiper {
        max-width: 100vw;
        height: 600px;
        // height: auto;
    }

    .didi-swiper-card img {
        width: 100%;
        height: 100%;
        // height: auto;
        // max-height: 80vh;
    }
    .didi-partner-gallery {
        display: flex;
        flex-direction: column;
    }

    .didi-partner-gallery img{
        width: 70vw;
        height: 250px;
        // height: auto;
    }
}

@media screen and (max-width: 720px) {
    .product-items {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 320px));
        grid-template-rows: auto;
        gap: 30px;
    }
}


@media screen and (max-width: 1400px){
    .header-content__navigation {
        font-size: 15px;
    }
}

@media screen and (min-width: 1040px){
    // didi_modify
    .shop-clothes {
        background-image: url("https://images.unsplash.com/photo-1571139627661-cf707929f465?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        background-size: contain; /* Resize the background image to contain the entire container */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        // height: 140vh;
    }

    .shop-foods {
        background-image: url("https://images.unsplash.com/photo-1582683740035-92658ae5ed5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: contain; /* Resize the background image to contain the entire container */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        // height: 140vh;
    }

    .shop-house {
        background-image: url("https://images.unsplash.com/photo-1685757529646-cf3d19bd3823?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1527&q=80");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        // height: 140vh;
    }

    .shop-jewls {
        background-image: url("https://images.unsplash.com/photo-1518451841069-6d102d0be9d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072&q=80");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: contain; /* Resize the background image to contain the entire container */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        // height: 140vh;
    }

    .shop-partners {
        // background-image: url("https://images.unsplash.com/photo-1550565118-3a14e8d0386f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
        // background-position: center; /* Center the image */
        // background-repeat: no-repeat; /* Do not repeat the image */
        // background-size: cover; /* Resize the background image to cover the entire container */
        // -webkit-background-size: cover;
        // -moz-background-size: cover;
        // -o-background-size: cover;
        // background-size: cover;
        // height: 150vh;
        // background-color: #324d67;
        // display: flex;
        padding-bottom: 100px;
    }

    .shop-supplies {
        background-image: url("https://images.unsplash.com/photo-1578941838877-141265f3a898?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1965&q=80");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        // height: 140vh;
    }

    .about-content {
        background-image: url("https://images.unsplash.com/photo-1518451841069-6d102d0be9d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072&q=80");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: contain; /* Resize the background image to contain the entire container */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        // height: 140vh;
    }

    .shop-all {
        background-image: url("https://images.unsplash.com/photo-1518451841069-6d102d0be9d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072&q=80");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: contain; /* Resize the background image to contain the entire container */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        // height: 140vh;
    }
}

.didi-sidebar-icon {
    position: absolute;
    top: 15;
    right: 15;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

.didi-sidebar {
    position: fixed;
    right: 0;
    width: 200px;
    height: 100vh;
    background-color: #898888;
    z-index: 100;
}

.didi-ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

.didi-ul li{
    margin: 20px 0;
}

.sidebar-small {
    font-size: 10px;
    text-align: center;
    // color: #40c9a2;
    // color: green;
}

.products-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding-bottom: 150px;
    // background-color: #00081C;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // background-color: #324d67;
}

.product-items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // background-color: #CDBC7A;
    // grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

.pagination{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    // background-color: #40c9a2;
}

.pagination-button{
    cursor: pointer;
}

.sidebarSpan {
    margin-left: 10px;
    display: inline-block;
    cursor: pointer;
    // color: #40c9a2;
}

.didi_page_title {
    max-width: 1100px;
    width: 90%;
    margin: 50px auto;
}

.didi-hero-title {
    position: absolute;
    bottom: 20%;
    left: 10%;
}

// mobile version
@media only screen and (max-width: 1024px) {
	.nav-btn {
		visibility: visible;
		opacity: 1;
	}

    .test-nav {
        display: flex;
        flex-direction: column;
    }

	.didi-navbar {
        h1 {
            font-size: 25px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        // margin: 0 auto;
        padding: 0px 0;
        // box-shadow: 0 4px 2px -4px gray;
        box-shadow: rgba(69, 69, 69, 0.1) -2px 4px 29px -2px;
	}

	.responsive_nav {
		transform: none;
	}

    .didi-mobile-logo {
        font-size: 1.2rem;
        color: white;
        display: block;
        cursor: pointer;
    }

	.nav-close-btn {
		position: absolute;
        font-size: 2rem;
        color: white;
		top: 2rem;
		right: 2rem;
	}

    .didi-footer {
        padding: 30px 30px;
        background-color: #ebeae6;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .didi-partner-title {
        // padding-top: 5px;
        margin-top: 25px;
        // background-color: #40c9a2;
        padding-left: 25px;
        text-align: left;
        // color: #00081C;
        font-size: 18px;
        font-weight: 200;
    
    }

    .didi-partner-subtitle {
        margin: 5vh 0;
        text-align: center;
        color: #00081C;
        font-size: 35px;
        font-weight: 300;
    }
}
